.grass {
    background-color: #7ddd41ca;
    
}

.fire {
    background-color: #e78608ca;
}

.water {
    background-color: #00b7ffd8;
}

.normal {
    background-color: #c2d2d3ca;
}

.flying {
    background-color: #5EB9B2ca;
}

.bug {
    background-color: #daff8ada;
}

.poison {
    background-color: #b056d1ca;
}

.electric {
    background-color: #fcce00ca;
}

.ground {
    background-color: #c4b85cca;
}

.fighting {
    background-color: #D36063ca;
}

.psychic {
    background-color: #f377a4ca;
}

.rock {
    background-color: #94834Fca;
}

.ice {
    background-color: #86edffdc;
}

.ghost {
    background-color: #7a3c92ca;
}

.dragon {
    background-color: #8A55FDca;
}

.dark {
    background-color: #4F4F4Fca;
}

.steel {
    background-color: #BBC5C4ca;
}

.fairy {
    background-color: #fdc3d7ca;
}